@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: pp;
   src: url(./font/pp.TTF);
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: ff;
   src: url(./font/founder.TTF);
   font-weight: normal;
   font-style: normal;
}


